* {
  margin: 0px;
  padding: 0px;
  font-family: "Playfair Display";
}
.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #b21c22;
}

.App-logo {
  height: 24em;
  pointer-events: none;
}

.App-header {
  background-color: #b21c22;
  font-size: calc(10px + 4vmin);
  color: #f5bea4;
}

h5 {
  font-size: calc(10px + 1.75em);
  color: #f5bea4;
  margin: 4rem;
}

h6 {
  font-size: calc(10px + 1em);
  color: #f5bea4;
}

p {
  font-size: calc(7px + 1em);
  color: #f5bea4;
  margin-top: 2rem;
}
.ClearFix {
  clear: both;
}
.LogoHome {
  margin-top: 4rem;
  margin-bottom: 1rem;
  position: fixed;
  bottom: 0;
  z-index: 999999;
}

.Boton{
  font-size: calc(10px + 1.75em);
  margin: 4rem;
  color: #b21c22;
  padding: 1rem;
  background-color: #f5bea4;
  border: 0px;
  border-radius: 0%;
}

.TextField{
  color:blue;
}


